.main-page {
  background-color: #F6B352;
}
.main-h1 {
  color: white;
  font-size: 50px;
}
.main-img1 {
  width: 5%;
  margin: 0.7%;
}
.main-img2 {
  width: 5%;
  margin: 0.7%;
}
.main-img3 {
  width: 5%;
  margin: 0.7%;
}
.main-img4 {
  width: 5%;
  margin: 0.7%;
}
.main-img5 {
  width: 5%;
  margin: 0.7%;
}