.main-page {
  background-color: #F6B352;
}
.main-h1 {
  color: white;
  font-size: 100px;
  font-family: 'SDSamliphopangche_Outline';
}
.main-img {
  width: 5%;
  margin: 0.7%;
}
.modal-h1 {
  color: black;
  font-size: 70px;
  font-family: 'SDSamliphopangche_Outline';
}
.modal-img {
  width: 35px;
  margin: 0.7%;
}
.modal-img-box {
  margin-top: 35px;
  margin-bottom: 7px;
}
.main-button {
  font-family: 'CookieRunOTF-Bold';
}
.modal-button {
  font-family: 'CookieRunOTF-Bold';
}
.modal-input {
  font-family: 'CookieRunOTF-Bold';
}